<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">What we do</h1>
                <hr class="primary light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
		    <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shopping-cart wow bounceIn" data-wow-delay=".1s"></i>
                    <h3>Digital store access</h3>
                    <p class="text-muted">Steam</p>
                    <p class="text-muted">App Store</p>
                    <p class="text-muted">Play Store</p>
					<p class="text-muted">Nintendo eShop</p>
                </div>
            </div>		
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn"></i>
                    <h3>Mentoring</h3>
                    <p class="text-muted">Game design</p>
					<p class="text-muted">Development</p>
					<p class="text-muted">Marketing</p>
					<p class="text-muted">Porting</p>
                </div>
            </div>	
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-area-chart wow bounceIn"></i>
                    <h3>Marketing</h3>
                    <p class="text-muted">Press kit</p>
					<p class="text-muted">Press release</p>
					<p class="text-muted">Business Development</p>
                </div>
            </div>
		</div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gift wow bounceIn"></i>
                    <h3>Fair</h3>
                    <p class="text-muted">10% Cut for basic services</p>
					<p class="text-muted">Sales data transparency</p>
					<p class="text-muted">IP owned by their creators</p>
					<p class="text-muted">Free to leave</p>
                </div>
            </div>
			<div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-flag wow bounceIn"></i>
                    <h3>Unite</h3>
                    <p class="text-muted">Be part of a community</p>
					<p class="text-muted">Share knowledge</p>
					<p class="text-muted">Share opportunities</p>
					<p class="text-muted">Stronger together</p>
                </div>
            </div>
			<div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bolt wow bounceIn"></i>
                    <h3>Extra services</h3>
                    <p class="text-muted">Porting your games</p>
					<p class="text-muted">Marketing campaign</p>
					<p class="text-muted">Premium mentoring</p>
                </div>
            </div>
        </div>
    </div>
</section>
