<section id="competences">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Comp&eacute;tences</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
		    <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-code-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>D&eacute;veloppeur</h3>
                    <p class="text-muted">Java</p>
                    <p class="text-muted">C#</p>
                    <p class="text-muted">Unity3D</p>
					<p class="text-muted">Eclipse</p>
					<p class="text-muted">GameMaker</p>
					<p class="text-muted">Visual Studio</p>
                </div>
            </div>		
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                    <h3>M&eacute;thodes/organisation</h3>
                    <p class="text-muted">Kanban</p>
					<p class="text-muted">Scrum</p>
					<p class="text-muted">Slack</p>
					<p class="text-muted">Int&eacute;gration continu</p>
                </div>
            </div>
			<div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary"></i>
                    <h3>Jeux/Serious games</h3>
                    <p class="text-muted">Game designer</p>
					<p class="text-muted">Game developer</p>
					<p class="text-muted">Game publisher</p>
					<p class="text-muted">Game marketing</p>
                </div>
            </div>
		</div>
		<div class="row">	
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-linux wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Unix</h3>
                    <p class="text-muted">Administration/Installation</p>
					<p class="text-muted">BashRC/KSH</p>
					<p class="text-muted">RedHat/Debian</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Outils divers</h3>
                    <p class="text-muted">Git/SVN</p>
					<p class="text-muted">SoapUI</p>
					<p class="text-muted">JProfiler</p>
					<p class="text-muted">Jenkins</p>
					<p class="text-muted">Blender</p>
					<p class="text-muted">Inkscape</p>
					<p class="text-muted">Et d&apos;autres...</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Autres</h3>
                    <p class="text-muted">Windows/Linux/Mac OSX</p>
					<p class="text-muted">Technologies Web</p>
					<p class="text-muted">Wordpress</p>
					<p class="text-muted">Toutes technologies int&eacute;ressantes !</p>
                </div>
            </div>
        </div>
    </div>
</section>
