<section id="competences">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Comp&eacute;tences</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
		    <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-code-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>D&eacute;veloppeur</h3>
                    <p class="text-muted">Java, C#, C/C++</p>
                    <p class="text-muted">PHP, TypeScript, JavaScript</p>
					<p class="text-muted">SpringBoot, Angular, Flutter</p>
					<p class="text-muted">UNIX, iOS, Android</p>
                </div>
            </div>		
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>DevOps</h3>
                    <p class="text-muted">Docker</p>
					<p class="text-muted">Int&eacute;gration continue</p>
					<p class="text-muted">D&eacute;ploiement continue</p>
					<p class="text-muted">Orchestration</p>
                </div>
            </div>	
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>M&eacute;thodes/organisation</h3>
                    <p class="text-muted">Autonomie</p>
					<p class="text-muted">Gestion de projets</p>
					<p class="text-muted">AGILE</p>
                    <p class="text-muted">Test unitaires et d'int&eacute;gration</p>
                </div>
            </div>
		</div>
		<div class="row">
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wrench wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Outils</h3>
                    <p class="text-muted">Git, SVN, Perforce</p>
					<p class="text-muted">Jprofiler, Jenkins, GitLab CI</p>
					<p class="text-muted">Docker Swarm, Kubernetes</p>
					<p class="text-muted">OVH, Azure</p>
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Soft Skill</h3>
                    <p class="text-muted">Savoir &ecirc;tre</p>
					<p class="text-muted">Sociable</p>
					<p class="text-muted">Travail en &eacute;quipe</p>
                </div>
            </div>
			<div class="col-lg-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gamepad wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Jeux/Serious games</h3>
                    <p class="text-muted">Direction cr&eacute;ative</p>
                    <p class="text-muted">Concepteur d&eacute;velopeur</p>
					<p class="text-muted">Unity, Godot, Unreal</p>
					<p class="text-muted"></p>
                </div>
            </div>
        </div>
    </div>
</section>
