<section class="bg-primary" id="experiences">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
				<div class="red-bg">
					<h1 class="section-heading">Exp&eacute;riences</h1>

					<hr class="light">
					<h2>Depuis Juin 2014</h2>
					<h3><b>Ballistic Frogs :</b> Fondateur, Game Designer et D&eacute;veloppeur</h3>
					<p class="text-faded">J'ai co-fond&eacute; le studio de jeux indépendants <a href="http://www.ballisticfrogs.com">Ballistic Frogs</a>. J'y ai conçu mon premier jeu vid&eacute;o commercial : <a href="http://www.psychostarshiprampage.com">Psycho Starship Rampage</a>. Disponible sur PC/MAC/Linux depuis le 28 septembre 2015. Il est distribu&eacute; sur la plateforme majeure du jeux vidéo PC : <a href="http://store.steampowered.com/app/386560/?l=french">Steam</a></p>

					<hr class="light">
					<h2>Depuis Octobre 2011</h2>
					<h3><b>Sopra Steria Group :</b> Lead technique un SI t&eacute;l&eacute;com majeur</h3>
					<p class="text-faded">J'ai particip&eacute; &egrave; la conception, au d&eacute;veloppement et &agrave; la maintenance d'un sous-syt&egrave;me applicatif central du SI BIOS de l'op&eacute;rateur SFR. Actuellement utilis&eacute; en production cette application g&egrave;re en temps r&eacute;&eacute;l les commandes clients de l'op&eacute;rateur. J'en suis l'actuel leader technique</p>

					<hr class="light">
					<h2>Juillet 2011</h2>
					<h3><b>Master Informatiques des images et des réseaux</b></h3>
					<p class="text-faded">Je suis diplom&eacute; d'un Master d'informatique à l'universit&eacute; de Vannes. J'y ai acquis toutes les comp&eacute;tences nécessaires &agrave; la r&eacute;alisation de tous types de projets informatiques, de la conception initiale &agrave; jusqu'&agrave; la livraison finale. J'y ai d&eacute;velop&eacute; la curiosit&eacute; d'apprendre et la capacit&eacute; d'adaptation &agrave; toutes les nouvelles technologies informatiques actuelles et futur.</p>

					<hr class="light">
					<h2>De Janvier 2011 &agrave; Juillet 2011</h2>
					<h3><b>Thales Communications et Sécurité :</b> Stagiaire R&D en interface tactile pour la guerre &eacute;l&eacute;tronique</h3>
					<p class="text-faded">Apr&egrave;s avoir effectu&eacute; un &eacute;tat de l'art, j'ai concu un prototype d'interface tactile pour un capteur de goniom&eacute;trie, destin&eacute;e &egrave; &ecirc;tre utilis&eacute; par les soldats sur les zones de conflits.</p>
				</div>
            </div>
        </div>
    </div>
</section>
