<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Vincent Beauz&eacute;e</h1>
            <hr>
            <h2>Ing&eacute;nieur informatique et DevOps freelance</h2>
            <h2>Concepteur et D&eacute;veloppeur de jeux vid&eacute;o</h2>
            <h2>Entrepreneur</h2>
            <hr>
            <p>Curieux, autonome et cr&eacute;atif. J’aime d&eacute;couvrir de nouveaux langages de programmation et outils techniques pour le g&eacute;nie logiciel. Sociable, j'aime le contact humain. Je m’int&egrave;gre facilement dans toute type de milieu professionnel.</p>
            <hr>
            <a href="#competences" class="btn btn-primary btn-xl page-scroll">En savoir plus</a>
			&nbsp;&nbsp;&nbsp;
            <a href="./download/resume.pdf" class="btn btn-primary btn-xl page-scroll">CV PDF</a>
        </div>
    </div>
</header>
