<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://store.steampowered.com/app/386560/" class="portfolio-box">
                    <img src="img/portfolio/psr.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jeux
                            </div>
                            <div class="project-name">
                                Psycho Starship Rampage
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/bf.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Business
                            </div>
                            <div class="project-name">
                                Ballistic Frogs S.A.S.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.ballisticfrogs.com/" class="portfolio-box">
                    <img src="img/portfolio/wwwbf.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Site internet
                            </div>
                            <div class="project-name">
                                ballisticfrogs.com
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/vBeauzee/interactive-resume" class="portfolio-box">
                    <img src="img/portfolio/ir.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Serious Game
                            </div>
                            <div class="project-name">
                                CV interactif
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://vbeauzee.github.io/" class="portfolio-box">
                    <img src="img/portfolio/wwwvb.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Site internet
                            </div>
                            <div class="project-name">
                                CV en ligne (Jekyll sur github.io)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://globalgamejam.org/2016/games/voodoo-chat" class="portfolio-box">
                    <img src="img/portfolio/vc.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Global Game Jam
                            </div>
                            <div class="project-name">
                                Voodoo Chat. r&eacute;alis&eacute; en 48h avec Unity 3D
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
