<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <hr class="light">
			<h1 class="section-heading text-center">Portfolio</h1>
            <div class="col-lg-4 col-sm-6">
                <a href="https://store.steampowered.com/app/2535950/Battlestar_Galactica_Scattered_Hopes/" class="portfolio-box">
                    <img src="img/portfolio/bsg3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jeu
                            </div>
                            <div class="project-name">
                                Battlestar Galactica: Scattered Hopes
                                <p>Performances et optimisations</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://apps.apple.com/fr/app/shotgun-king/id6744170498" class="portfolio-box">
                    <img src="img/portfolio/sk.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jeu
                            </div>
                            <div class="project-name">
                                Shotgun King
                                <p>Portage iOS et lead mobile</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.xbox.com/fr-FR/games/store/minishoot-adventures/9N5PKH0KW2L1" class="portfolio-box">
                    <img src="img/portfolio/minishoot.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jeu
                            </div>
                            <div class="project-name">
                                Minishoot' Adventures
                                <p>Support et intégration Xbox Game Pass</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://store.steampowered.com/app/2429050/Fretless__The_Wrath_of_Riffson" class="portfolio-box">
                    <img src="img/portfolio/fretless.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jeu
                            </div>
                            <div class="project-name">
                                Fretless - The Wrath of Riffson
                                <p>Programmation gameplay et outils</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://ty.games" class="portfolio-box">
                    <img src="img/portfolio/tygames.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Distributeur coopératif
                            </div>
                            <div class="project-name">
                                TyGAMES SCIC
                                <p>Gestion, Direction technique, ERP</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://store.steampowered.com/app/1351080/Pharaoh_A_New_Era/" class="portfolio-box">
                    <img src="img/portfolio/pharaoh.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jeu
                            </div>
                            <div class="project-name">
                                Pharaoh™: A New Era
                                <p>Programmation UI et gameplay</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://store.steampowered.com/app/386560/Psycho_Starship_Rampage/" class="portfolio-box">
                    <img src="img/portfolio/psr.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Jeu
                            </div>
                            <div class="project-name">
                                Psycho Starship Rampage
                                <p>Direction créative, programmation et distribution</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
