<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="section-heading">Who we are</h1>
				<hr class="primary light">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2 text-center">
				<div class="service-box nogueules">
					<div>
						<a href="https://fr.linkedin.com/in/vincent-beauzee">
							<img src="img/vincent.jpg" title="Vincent Beauzée" alt="Vincent Beauzée">
						</a>
					</div>
					<div class ="text-center">
						<h3>Vincent Beauz&eacute;e</h3>
						<p class="text-muted">Associate</p>
						<p class="text-muted">Tool Maker</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-center">
				<div class="service-box nogueules">
					<div class="">
						<a href="https://dmayance.com">
							<img src="https://www.gravatar.com/avatar/545f7c7f0ed11d6ef21722a7e6c47acf?s=300"
								title="Damien Mayance" alt="Damien Mayance">
						</a>
					</div>
					<div>
						<h3>Damien Mayance</h3>
						<p class="text-muted">Associate</p>
						<p class="text-muted">Console specialist</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2 text-center">
				<div class="service-box nogueules">
					<div class="">
						<a href="https://tavroxgames.com/about-the-team/">
							<img src="img/yannick.png" title="Yannick ELAHEE" alt="Yannick ELAHEE">
						</a>
					</div>
					<h3>Yannick Elahee</h3>
					<p class="text-muted">Associate</p>
					<p class="text-muted">Marketing specialist</p>
				</div>
			</div>
			<div class="col-lg-4 text-center">
				<div class="service-box nogueules">
					<div class="">
						<a href="https://indiegames101.com">
							<img src="img/laurent.jpeg" title="Laurent Victorino" alt="Laurent Victorino">
						</a>
					</div>
					<h3>Laurent Victorino</h3>
					<p class="text-muted">Associate</p>
					<p class="text-muted">Mentoring specialist</p>
				</div>
			</div>
		</div>
	</div>
</section>